@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Balsamiq Sans', cursive;
    /* outline: 2px solid black; */
}

/* utilities */
.horizontal-center {
    justify-content: center;
}
.vertical-center {
    align-items: center;
}
.box-border {
    border: 3px solid rgba(193, 193, 193, .5);
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.head-round {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.blank {
    visibility:hidden;
}

/* navigation */
.nav-bar {
    background-color: slategrey;
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 0px 235px;
}
.nav-title {
    color: white;
    font-weight:light;
    margin-right: 20px;
}
.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.nav-items {
    margin: 0px 15px;
    list-style-type: none;
}
.nav-items a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
}
.btn {
    background-color: rgb(23, 162, 184);
    color: white;
    font-weight: bold;
    padding: 5px;
    height: 30px;
    width: 75px;
    display: flex;
    border-radius: 3px;
    cursor: pointer;
    /* position: sticky;
    right: 235px; */
}

/* main body */
.main {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding: 25px 10%;
}
.col1 {
    display: flex;
    flex-direction: column;
    flex: 3;
    padding: 25px;
    gap: 50px;
}

/* profile block */
.profile-block {
    display: block;
    /* flex-direction: column; */
}
.profile-header {
    background-color: rgb(23, 162, 184);
    flex: 2;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 90px;
}
.profile-body {
    background-color: white;
    flex: 5;
    border-top: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 60px 0 0 15px;
}
.profile-content {
    display: block;
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
    /* height: 80%; */
    padding: 25px;
}
.profile-content * {
    margin: 5px;
}
#avatar {
    position: relative;
    top: 15px;
    left: 40px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0px 0px 5px;
}
#name {
    font-size: 2em;
}
.location {
    width: 75px;
    display: flex;
    justify-content: space-between;
}
#map-icon {
    height: 20px;
    width: 15px;
}
#city {
    font-size: 1.4em;
    font-weight: 600;
}
.bio {
    flex-wrap: wrap;
    font-size: 1.2em;
}
.settings {
    display: flex;
    font-size: 1em;
}
#gear-icon {
    height: 15px;
}

/* education block */
.ed-header {
    background-color: darkslategrey;
    height: 65px;
    display: flex;
}
#ed-title {
    margin-left: 25px;
}
.ed-body {
    padding: 15px 20px;
}
.ed-list {
    list-style: none;
}
.ed-list li {
    margin-top: 5px;
}
.sub-head {
    font-size: 1.5em;
    font-weight: 550;
}
.date {
    color: grey;
}
.col2 {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 25px;
    gap: 50px;
}

/* requests block */
.sec-header {
    background-color: darkslategrey;
    height: 65px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}
.rqt-indicator {
    min-width: 20px;
    background-color: lightgrey;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
.sec-title {
    color: whitesmoke;
    font-weight: 500;
}
.req-body {
    display: flex;
    flex-direction: column;
    padding: 30px 10px 30px 25px;
    gap: 25px;
}
.person {
    flex: 1;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}
.btn-container {
    display: flex;
    gap: 20px;
}
.accept-btn {
    border-style: none;
    background: none;
    cursor: pointer;
    border-radius: 50%;
    height: 49px;
    width: 49px;

}
.rqt-icon {
    height: 45px;
    width: 45px;
    margin-right: 15px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px black;
    border: 2px solid white;

}
.rqt-name {
    display: flex;
    justify-content: space-between;
    gap: 10px
}

/* connections block */
.connections-body {
    display: flex;
    flex-direction: column;
    border-top: none;
    padding: 30px 25px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.people-list {
    flex: 1;
    margin: 5px;
    display: flex;
    gap: 10px;
}
.profile-name{
    font-size: 1.4em;
}
.connections-more {
    padding: 20px 30px;
    flex: 1;
    border-top: none;
}
.connections-more a {
    font-size: 1.1em;
}